@font-face {
    font-family: 'FiraLight';
    src: url('../fonts/FiraSansCondensed-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraSansCondensed-Light.woff') format('woff'),
    url('../fonts/FiraSansCondensed-Light.ttf')  format('truetype'),
    url('../fonts/FiraSansCondensed-Light.svg#FiraSansCondensed-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraRegular';
    src: url('../fonts/FiraSansCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraSansCondensed-Regular.woff') format('woff'),
    url('../fonts/FiraSansCondensed-Regular.ttf')  format('truetype'),
    url('../fonts/FiraSansCondensed-Regular.svg#FiraSansCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*, body, p, div, span, a{
    font-family: FiraRegular;
    font-size: 14px;
    font-weight: 300;
    /*color: #000000;*/
    color: #ffffff;
}

body {
    background: #000000!important;
}

/*BEGIN GENERAL STYLE*/

body{
    background-color: #ffffff;
}

img { pointer-events: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }

/* SCREEN 1*/

.screen1{
    /*background: url("../img/fon1.jpg") no-repeat top center;*/
    /*background-size: contain;*/
    height: 950px;
    overflow: hidden;
    position: relative;
	z-index: 999;
}

.container1 {
    position: absolute;
    height: 100%;
    width: 100%;
}

.slide1 > .row{
    text-align: center;
}

.caption_game, .gp_btn{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: end;
}

.caption_game>img{
    width: 50%;
    height: 800px;
}

.gp_btn img{
    min-width: 300px;
    min-height: 70px;
}

/* Navigation*/

.link-control{
    position: fixed;
    right: 15px;
    top: 50%;
    margin-top: -70px;
    z-index: 999999;
}

.link-control--active, .link{
    position: relative;
}

.link-control--active, .link{
    display: block;
    width: 31px;
    height: 31px;
}

.link{
    position: relative;
    margin: 20px 0px 0px 0px;
}

.link-control--active>.active-link{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    padding: 10px;
    margin: 20px 0px 0px 0px;
    webkit-transition: border 0.5s ease-in-out;
    -moz-transition:  border 0.5s ease-in-out;
    -ms-transition:  border 0.5s ease-in-out;
    -o-transition:  border 0.5s ease-in-out;
    transition:  border 0.5s ease-in-out;
}

.link-control--active>.text-active-link, .link>.text-active-link{
    position: absolute;
    top: 3px;
    right: 40px;
    display: inline-block;
    width: 100px;
    text-align: right;
    z-index: -10;
    opacity: 0;
    webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition:  opacity 0.5s ease-in-out;
    -ms-transition:  opacity 0.5s ease-in-out;
    -o-transition:  opacity 0.5s ease-in-out;
    transition:  opacity 0.5s ease-in-out;
}

.active-link div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    webkit-transition: background 0.5s ease-in-out;
    -moz-transition:  background 0.5s ease-in-out;
    -ms-transition:  background 0.5s ease-in-out;
    -o-transition:  background 0.5s ease-in-out;
    transition:  background 0.5s ease-in-out;
}

.link .active-link{
    position: absolute;
    top: 12px;
    right: 2px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
    display: block;
    margin: 0px 10px 0px 10px;
    webkit-transition: background 0.5s ease-in-out;
    -moz-transition:  background 0.5s ease-in-out;
    -ms-transition:  background 0.5s ease-in-out;
    -o-transition:  background 0.5s ease-in-out;
    transition:  background 0.5s ease-in-out;
}

.link-control .link .text-active-link{
    z-index: -10;
    opacity: 0;
    webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition:  opacity 0.5s ease-in-out;
    -ms-transition:  opacity 0.5s ease-in-out;
    -o-transition:  opacity 0.5s ease-in-out;
    transition:  opacity 0.5s ease-in-out;
}

.link-control--active:hover>.text-active-link,
.link:hover>.text-active-link{
    opacity: 1;
    z-index: 1;
}

.text-active-link{
    right: 50px;
    color: #ffffff;
    font-family: "FiraRegular";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    webkit-transition: color 0.5s ease-in-out;
    -moz-transition:  color 0.5s ease-in-out;
    -ms-transition:  color 0.5s ease-in-out;
    -o-transition:  color 0.5s ease-in-out;
    transition:  color 0.5s ease-in-out;
}

/* End navigation */
/*
/!* Blue Navigation*!/

.blue-navigation--active>.active-link{
    border: 1px solid #4b66aa;
}

.blue-navigation>.active-link div, .blue-navigation--active>.active-link div{
    background: #4b66aa;
}

.blue-navigation--active>.text-active-link,
.blue-navigation>.text-active-link{
    color: #4b66aa;
}
/!* End blue navigation *!/*/

/* END SCREEN 1*/


/* SCREEN 2*/

.screen2{
    height: 1000px;
    overflow: hidden;
    position: relative;
    margin: 60px 0 60px 0;
}

.screen2-container{
    position: relative;
}


.iconapp {
    /*display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;*/
    max-height: 200px;
}

.row_description{
    margin-bottom: 40px;
}

.iconapp > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title_part{
    font-size: 45px;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 15px;
}

.text_description, .text_advantage{
    font-size: 20px;
    font-weight: 200;
    font-style: normal;
}

.video_game{
    margin: 40px 0 0 0;
}

#vidwrap{
    background: #000000 url('../img/iconapp_512.png') no-repeat;
    cursor:pointer;
    background-size:contain;
    background-position: center;
}


/* END SCREEN 2*/

/* SCREEN 3*/

.screen3{
    height: 950px;
    position: relative;
}

.screen3-title{
    font-family: "FiraRegular";
    font-size: 60px;
    font-weight: 400;
    line-height: 45.96px;
    text-align: center;
    padding: 40px 0px 40px 0;
}

/* END SCREEN 3*/

/* FOOTER */

.footer{
    min-height: 100px;
    background-color: #000000;
    padding-top: 20px;
}

.footer div{
    color: #ffffff;
    font-family: "FiraRegular";
    font-size: 18px;
    font-weight: 400;
}

.footer .footer-voltage{
    font-family: "FiraRegular";
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

.footer-align{
    padding-top: 15px;
}

.footer-copyright{
    text-align: right;
    margin: 20px 0 0 0;
}

.footer-email{
    background: url("../img/email_logo.png") no-repeat left;
    padding-left: 62px!important;
    height: 51px;
    margin-top: 5px;
}

.footer-email img{
    display: none;
}

.footer-social--fb{
    display: block;
    height: 49px;
    background: url("../img/fb.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.footer>.container{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px 0 20px 0;
}

/* END FOOTER */


/*END GENERAL STYLE*/

/*BEGIN STYLE FOR RESOLUTION 1210-992 md*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    /*SLIDE1*/
    .slide1-vstrip {
        padding: 30px 40px !important;
    }

    .slide1-vstrip--title {
        font-size: 58px;
    }

    .slide1-vstrip--title span {
        font-size: 24px;
    }

    .slide1-vstrip--button {
        font-size: 20px;
    }

    /*END SLIDE1*/
    /*SLIDE2*/
    .screen2 {
        height: 435px;
    }

    .screen2-leftpendent img {
        width: 50px;
    }

    .screen2-ball1 {
        left: 55px;
    }

    .screen2-ball1 img, .screen2-ball2 img, .screen2-ball3 img {
        width: 200px;
    }

    .screen2-ball2 {
        left: 370px;
    }

    .screen2-ball3 {
        left: 680px;
    }

    .screen2-surprise {
        left: 270px;
    }

    .screen2-surprise img {
        width: 85px;
    }

    .screen2-boot img {
        width: 80px;
    }

    .screen2-boot {
        left: 586px;
    }

    .screen2-rightpendent img {
        width: 70px;
    }

    .screen2-rightpendent {
        left: 868px;
    }

    /*END SLIDE2*/
    /*SLIDE3*/
    .screen3-title {
        padding: 40px 0px 30px 0;
    }

    .screen3 {
        height: 450px;
    }

    /*END SLIDE3*/
    /*END STYLE FOR RESOLUTION 1210-992 md*/
    /*BEGIN STYLE FOR RESOLUTION 992-768 sm*/
    @media screen and (min-width: 768px) and (max-width: 991px) {

        /*SLIDE1*/
        .screen1 {
            height: 725px;
            background: url(../img/fon1.jpg) no-repeat 0px -235px;
        }

        .slide1-vstrip {
            padding: 30px 40px !important;
            height: 725px;
        }

        .slide1-vstrip--title {
            font-size: 58px;
            margin-top: 130px;
        }

        .slide1-vstrip--title span {
            font-size: 24px;
        }

        .slide1-vstrip--button {
            font-size: 20px;
            display: inline-block;
        }

        /*END SLIDE1*/
        /*SLIDE2*/
        .screen2 {
            height: 370px;
        }

        .screen2-leftpendent img {
            width: 41px;
        }

        .screen2-ball1 {
            left: 32px;
        }

        .screen2-ball1 img, .screen2-ball2 img, .screen2-ball3 img {
            width: 170px;
        }

        .screen2-ball2 {
            left: 270px;
        }

        .screen2-ball3 {
            left: 517px;
        }

        .screen2-surprise {
            left: 201px;
        }

        .screen2-surprise img, .screen2-boot img {
            width: 70px;
        }

        .screen2-boot {
            left: 441px;
        }

        .screen2-rightpendent img {
            width: 60px;
        }

        .screen2-rightpendent {
            left: 668px;
        }

        /*END SLIDE2*/
        /*SLIDE3*/
        .screen3-title {
            padding: 20px 0px 20px 0;
            font-size: 50px;
        }

        .screen3 {
            height: 420px;
        }

        /*END SLIDE3*/
    }
}
/*END STYLE FOR RESOLUTION 992-768 sm*/

/*BEGIN STYLE FOR RESOLUTION 768-320 xs*/

@media screen and (max-width: 767px) {

    .link-control {
        display: none;
    }

    /*SLIDE1*/
    .slide1-vstrip--logo {
        text-align: center;
    }

    .screen1 {
        height: 725px;
        background: url(../img/fon1.jpg) no-repeat 0px -235px;
    }

    .slide1-vstrip {
        padding: 30px 15px !important;
        height: 725px;
    }

    .slide1-vstrip--title {
        font-size: 58px;
        margin-top: 45px;
        line-height: 50px;
        text-align: center;
    }

    .slide1-vstrip--title span {
        font-size: 24px;
        text-align: left;
        margin-top: 20px;
    }

    .slide1-vstrip--title span br {
        display: none;
    }

    .slide1-vstrip--button {
        font-size: 24px;
        display: inline-block;
        text-align: center;
        padding: 15px 15px;
    }

    /*END SLIDE1*/
    /*SLIDE2*/
    .screen2 {
        height: 165px;
    }

    .screen2-leftpendent, .screen2-ball1, .screen2-ball2, .screen2-ball3,
    .screen2-surprise, .screen2-boot, .screen2-rightpendent {
        opacity: 0;
    }

    .slide2-button {
        margin-top: 50px;
        z-index: 99999;
        position: relative;
        display: block;
        text-align: center;
        border-radius: 30px;
        background-color: #c41e1e;
        padding: 20px 30px;
        color: #ffffff;
        font-family: "FiraRegular";
        font-size: 23px;
        font-weight: 400;
        letter-spacing: 1.6px;
        cursor: pointer;

    }

    /*END SLIDE2*/
    /*SLIDE3*/
    .screen3-title {
        padding: 20px 0px 0px 0;
        font-size: 34px;
    }

    .screen3 {
        height: 335px;
    }

    .slider-hover--scale {
        height: 40px;
        width: 40px;
    }

    .slider-hover--title, .slider-hover--cost {
        font-size: 20px;
    }

    .slider-hover {
        padding: 20px;
    }

    /*END SLIDE3*/
    /*SLIDE4*/
    .screen4-form {
        padding: 50px 0px;
    }

    .screen4-form--title {
        font-size: 30px;
    }

    .orderform-general {
        width: 100%;
        /*width: 260px;*/
    }

    .orderform-submit {
        padding: 15px 20px;
        font-size: 20px;
    }

    .footer .slide1-vstrip--logo img {
        width: 100px;
    }

    .footer .slide1-vstrip--logo {
        padding: 0px !important;
        margin-bottom: 15px;
    }

    .footer-phone {
        background: transparent;
        padding: 0px !important;
        margin: 15px 0px;
        text-align: center;
    }

    .footer-align {
        padding: 0px;
    }

    .footer-email {
        background: transparent;
        margin: 15px 0px;
        padding: 0px !important;
        text-align: center;
    }

    .footer-email img {
        display: inline-block;
        padding-right: 10px;
    }

    .footer-phone img {
        display: inline-block;
        padding-right: 10px;
    }

    .footer-text {
        text-align: center;
    }

    .footer {
        padding-bottom: 20px;
    }

    /*END SLIDE4*/

}

/*END STYLE FOR RESOLUTION 768-320 xs*/